{% extends "base.html" %}
{% block content %}
{% load static %}
    <h1>Programovací jazyky a nástroje</h1><br>
    <img src="{% static 'webresume/devicon-master/icons/html5/html5-plain.svg' %}" width="100px"/>
    <img src="{% static 'webresume/devicon-master/icons/css3/css3-plain.svg' %}" width="100px"/>
    <img src="{% static 'webresume/devicon-master/icons/python/python-original.svg' %}" width="100px"/>
    <img src="{% static 'webresume/devicon-master/icons/django/django-plain.svg' %}" width="100px"/>
    <img src="{% static 'webresume/devicon-master/icons/sqlite/sqlite-original.svg' %}" width="100px"/>
    <img src="{% static 'webresume/devicon-master/icons/github/github-original.svg' %}" width="100px"/> <br><br><br>
    <h3>Další dovednosti</h3><br>
    <ul>
        <li>Hovořím plynně anglicky</li>
        <li>Zvládám korespondenci v němčině</li>
        <li>Rozumím si s kancelářským balíčkem MS Office</li>
        <li>Jsem držitelem Osvědčení o odborné způsobilosti bezpečnostního poradce pro přepravu nebezpečných věcí</li>
    </ul>
{% endblock %}