{% extends "base.html" %}
{% block content %}
{% load static %}
<div>
  <img class="ja" src="{% static 'webresume/ja.jpg' %}" alt="Já" width="200 px"/> <br>
  <h2>Tomáš <span style="color: rgb(32, 108, 180);">Severa</span></h2>
  <h4>Duchcov, 419 01 CZ</h4>
  <h5>(+420) 733 127 963</h5>
  <h5><a href="mailto:tom.severa@outlook.cz" style="color: rgb(32, 108, 180);">tom.severa@outlook.cz</a></h5>
  <p>Jsem začínající programátor, který má velkou chuť se neustále zlepšovat, aby v oboru jednoho dne prorazil.</p>
</div>
{% endblock %}